* {
    all: unset;
    font-family: "MapleMono NF";
    font-weight: bold;
    font-size: 11px;
    border-radius: 15px;
}

window#waybar>box {
    border-radius: 15px;
    margin: 18px 8px 18px 0px;
    background-color: rgba(21, 21, 21, 0.98);
    box-shadow: 3px 3px 4px 1px #101010;
}

window#waybar {
    background-color: transparent;
    color: #e8e3e3;
}

tooltip {
    all: unset;
    background-color: #101010;
    color: #e8e3e3;
    font-style: italic;
    padding: 24px;
    border-radius: 6px;
}

#custom-icon {
    padding-top: 10px;
    font-size: 20px;
    margin-right: 4px;
    color: #b66467;
}

#custom-seperator {
    color: #303030;
    margin-bottom: 10px;
}

#workspaces button {
    padding: 10px 0px 10px 0px;
    border-radius: 10px;
    color: #303030;
    font-size: 20px;
    transition: margin 250ms ease;
}

#workspaces button.focused {
    color: #b66467;
    margin: 20px 0px 20px 0px;
}

#workspaces button.urgent {
    color: #b66467;
}

#clock,
#battery,
#backlight,
#network,
#pulseaudio {
    padding: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #E8E3E3;
}

#battery {
    color: #E8E3E3;
}

#battery.charging,
#battery.plugged {
    color: #e8e3e3;
}

label:focus {
    background-color: #000000;
}

#network {
    padding-bottom: 20px;
    margin-left: 3px;
}

#pulseaudio.muted {
    color: #b66467;
}
