$darkbg: #151515;
$extradarkbg: #111111;
$bg: #191919;
$fg: #e8e3e3;
$red: #b66467;
$yellow: #d9bc8c;
$green: #8c977d;
$cyan: #8aa6a2;
$blue: #8da3b9;
$magenta: #a988b0;
$border-rad: 10px;

* {
  all: unset;
}

@import "./quick_menu/eww.scss";
@import "./notifications/eww.scss";
@import "./bar/eww.scss";
